@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik+Doodle+Shadow&display=swap");

.main {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(
    217.5% 125.63% at 9.81% 4.52%,
    #000 0%,
    #194c5e 100%
  );
  overflow-x: hidden;
}

.blank {
    height: 2vw;
}

.title {
  font-size: 3vw;
  color: white;
  font-family: "Rubik Doodle Shadow";
  margin: 2vw 0 0 5vw;
}

.list {
    margin-top: 3vw;
    width: 100vw;
    height: 48vw;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    display: none;
}