.main {
    font-family: "Poppins", sans-serif;
    width: 90vw;
    height: 12vw;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 2vw;
    padding: 1vw .5vw 1vw 1.5vw;
    color: rgba(255, 255, 255, 0.564);
    font-size: 1.1vw;
    margin-left: 4vw;
    margin-bottom: 1.5vw;
}

h3 {
    font-size: 1.5vw;
    color: white;
    margin: .5vw 0;
}

.btn {
    height: 3vw;
    width: 6vw;
    background-color: #011c25;
    border-radius: 1vw;
    margin-left: 15.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
    font-weight: 600;
    gap: .5vw;
}

.btn img {
    margin-bottom: .3vw;
    height: 1.2vw;
}